.palette-info .box {
    width: auto;
    height: 75px;
    display: grid;
    align-items: center;
    background: white;
    border-radius: 10px;
    margin-right: 15px;
}

.palette-info .box .color-picker {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.palette-info .box .color-picker input {
    width: 50%;
    border: none;
    cursor: pointer;
    appearance: none;
    outline: none;
    margin-right: 15px;
}

.color-picker input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker input::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.color-picker input::-moz-color-swatch {
    border: none;
    border-radius: 0;
}

.color-picker input::-moz-focus-inner {
    border: none;
}

.palette-info .color-picker .value {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.palette-info .box .slider {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.palette-info .box label {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 15px;
}

.palette-info .box .slider input {
    width: 100%;
    height: 10px;
    cursor: pointer;
    appearance: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

.slider input::-moz-range-progress {
    height: 10px;
    border-radius: 25px;
    background: #8A6CFF;
}

.slider input::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 25px;
    background: #8A6CFF;
}

.slider input::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #8A6CFF;
    background: #FFFFFF;
    appearance: none;
    -webkit-appearance: none;
    transition: background .3s ease-in-out;
}

.slider input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin-top: -6px;
    border-radius: 50%;
    border: 4px solid #8A6CFF;
    background: #FFFFFF;
    appearance: none;
    -webkit-appearance: none;
    transition: background .3s ease-in-out;
}

.palette-info .slider .value {
    font-weight: 600;
    text-align: center;
}

.palette-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}