@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #F0EAFE;
}

.form-container {
    margin: 20px;
}

.form-container .palette-generator-form {
    padding: 0 50px;
    width: auto;
    height: 200px;
    border: 1px solid #8A6CFF;
    border-radius: 10px;
}

.form-container .palette-generator-form .palette-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 100px);
    align-items: center;
}

.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.container .color {
    list-style: none;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
    transition: transform 0.3s ease;
}

.color .rect-box {
    height: 150px;
    border-radius: 10px;
    background: #8A6CFF;
    margin-bottom: 10px;
}

.color:hover .rect-box {
    filter: brightness(110%);
}

.color .color-value {
    display: block;
    color: #444;
    margin: 5px 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

.generate-btn {
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px 20px;
    background: #8A6CFF;
    border-radius: 5px;
    border: none;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.2);
    transition: transform 0.3s ease;
}

.generate-btn:active {
    transform: scale(0.95);
}